{{define "header"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">My T-Shirt Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                {{ if .user_id }}
                <li class="nav-item">
                    <form action="/auth/logout" method="post">
                        <button class="dropdown-item" type="submit">Logout</button>
                    </form>
<!--                    <a class="nav-link btn btn-danger text-white ms-2" href="/auth/logout">Logout</a>-->
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white ms-2" href="/sign-in">Sign In</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{end}}